.colorhead {
  font-family: cursive;

  color: #fffad7;
  font-style: italic;
}

body {
  background-color: #7e3838;
}

.colorfont {
  font-family: cursive;
  color: rgb(236, 227, 227);
}

.skill-header {
  text-align: left;
}

p {
  font-family: cursive;
  color: rgb(236, 227, 227);
}

a {
  color: coral;
}

.rounded-all {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.rounded-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.skill-container {
  border: solid lightcoral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 8px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container {
  text-align: center;
}

.centered-link {
  display: inline-block;
  text-align: center;
}

.image {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gradiant-bg {
  font-family: cursive;
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ecf8f8,
    #eee4e1,
    #e7d8c9,
    #e6beae,
    #b2967d
  );
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 5s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
